.companies-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 20px;
}

.companies-information-title {
    display: flex;
    font-size: 4rem;
    text-align: center;
    justify-content: center;
    margin-top: 3%;
    padding-bottom: 5%;
}

.center-no-companies-found {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 100px;
}
